<h1>Enfermedad Encontrada</h1>

<div class="card" style="width: 18rem;">
    <blockquote class="blockquote mb-0">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{enfermedad.nombre}}</h5>
            <p class="card-text">{{enfermedad.descripcion}}</p>
            <br>
            <p class="card-text">{{enfermedad.sintomas}}</p>
            <a href="#" class="btn btn-primary" routerLink="/inicio" routerLinkActive="active">Regresar</a>
        </div>
    </blockquote>
</div>
