<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MediWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
                </li>

            </ul>
            <div class="d-flex" *ngIf="_usuarioService.getIdentidad()">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <img *ngIf="_usuarioService.getIdentidad().image" [src]="_usuarioService.getIdentidad().image" class="user-image">


            </div>
            <img class="nav-link" routerLink="/cuenta" routerLinkActive="active" *ngIf="_usuarioService.getIdentidad().image == null && this._usuarioService.getIdentidad().username!=undefined" src="/assets/man.png" class="user-image">
            <div><img class="nav-link" routerLink="/login" routerLinkActive="active" src="/assets/logout.png" class="user-image" *ngIf="this._usuarioService.getIdentidad().username!=undefined" (click)="cerrarSesion()"></div>
        </div>
    </div>
</nav>